{% extends "landing.html" %}

{% load static %}

{% block head %}
{% include "datatables.html" %}
{% endblock %}

{% block headertitle %} Dashboard {% endblock %}

<!--{% block navigation %}
   <a href="/stars/stars"> INDEX </a>
   <strong>|</strong>
   <a href="/stars/tags" class="active"> Tags </a>
{% endblock %}-->


{% block content %}

<section class='data-section' id="public_runs">

<!-- <h3 class='indent'>Public observation runs</h3> -->

<div class="flex-data-container j-center">

    <i>"Here will appear a Dashboard with a lot of useful information in the near future!"</i>

</div>


</section>

{% endblock %}
