{% extends "landing.html" %}

{% load static %}

{% block head %}
{% include "datatables.html" %}
{% include "bokeh.html" %}
{% endblock %}

{% block headertitle %} Dashboard {% endblock %}

<!--{% block navigation %}
   <a href="/stars/stars"> INDEX </a>
   <strong>|</strong>
   <a href="/stars/tags" class="active"> Tags </a>
{% endblock %}-->


{% block content %}

<!--<section class='data-section' id="public_runs">

<div class="flex-data-container j-center">

    <i>"Here will appear a Dashboard with a lot of useful information in the near future!"</i>

</div>

</section>-->

<div class="dashboard-wrapper">
   <div class="dash-upperrow">
      <div class="dash-square dash-upper-left">
         <i>"This page is work in progress!"</i>
      </div>
   </div>
   <div class="dash-lowerrow">
      <div class="dash-square dash-lower-left">
<!--       <div class="dash-lower-left"> -->
         <h2>Observation runs: latest changes</h2>
         <div class="dash-changelog-container">
            {% for event in recent_obs_runs_changes %}
               <div class="dash-changelog-field">
                  <b class="dash-changelog-field-title">
                     <a href={% url 'obs_runs:run_detail' event.instance.pk %}>{{ event.instance.name }}</a> was
                     {% if event.created %} created{% else %} modified{% endif %}</b><br>
                  by<b class="dash-changelog-field-name">
                  {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
               </div>
            {% endfor %}
         </div>
      </div>

      <div class="dash-square dash-lower-center">
<!--       <div class="dash-lower-center"> -->
<!--          <h3>Observation runs</h3> -->
         <div class='dash-figure-container'>
            {{ figures.observation_run_time_plot|safe }}
         </div>
<!--          <h3>Objects</h3> -->
         <div class='dash-figure-container'>
            {{ figures.objects_time_plot|safe }}
         </div>
      </div>
      {{ script|safe }}

      <div class="dash-square dash-lower-right">
<!--       <div class="dash-lower-right"> -->
         <h2>Objects: latest changes</h2>
         <div class="dash-changelog-container">
            {% for event in recent_obj_changes %}
               <div class="dash-changelog-field">
                  <b class="dash-changelog-field-title">
                     <a href={% url 'objects:object_detail' event.instance.pk %}>{{ event.instance.name }}</a> was
                     {% if event.created %} created{% else %} modified{% endif %}</b><br>
                  by<b class="dash-changelog-field-name">
                  {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>

{% endblock %}
