{% extends "base.html" %}
{% load static %}

{% block head %}
{% include "datatables.html" %}
<script type="text/javascript" src="{% static 'js/obs_runs_list.js' %}"></script>

{% endblock %}

{% block headertitle %} Observation runs: Index {% endblock %}


{% block content %}

   <i display="none" id="script_name" name={{ script_name }}></i>

   <i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

   <div id="filter-dashboard">

      <form method="get" action="/" class="table-filter" id="filter-form">
         <h3 class="center"> Filter Observation Runs </h3>

         <div class="table-filter-item">
            <p class="filter-label">Date:</p>
            <input class="filter-input" id="filter_date" type="text">
         </div>

         <hr>

         <div class="table-filter-item">
               <p class="filter-label">Target:</p>
               <input class="filter-input" id="filter_targets" type="text" placeholder="Target name">
         </div>

         <hr>

         <div class="table-filter-item">
            <p class="filter-label">Obs. type:</p>
            <ul id="observation_options">
               <li><label for="photometry"><input id="photometry" name="observation" type="checkbox" value="P"/> Photometry</label></li>
               <li><label for="spectroscopy"><input id="spectroscopy" name="observation" type="checkbox" value="S"/> Spectroscopy</label></li>
               <li><label for="undefined"><input id="undefined" name="observation" type="checkbox" value="B"/> Both</label></li>
            </ul>
         </div>

         <hr>

         <div class="table-filter-item">
            <p class="filter-label">Nobs:</p>
            <input class="filter-input" id="n_datafiles" type="text" placeholder="min:max">
         </div>
<!--
         <hr>

         <div class="table-filter-item">
            <p class="filter-label">Exp. time:</p>
            <input class="filter-input" id="exposure_time" type="text" placeholder="min:max">
         </div>-->

         <hr>

         <div class="table-filter-item">
            <p class="filter-label">Status: </p>
            <ul id="status_options">
               <li><label for="id_status_0"><input id="id_status_0" name="status" type="radio" value="PR" /> Partly reduced</label></li>
               <li><label for="id_status_1"><input id="id_status_1" name="status" type="radio" value="FR" /> Fully reduced</label></li>
               <li><label for="id_status_2"><input id="id_status_2" name="status" type="radio" value="ER" /> Reduction error</label></li>
               <li><label for="id_status_3"><input id="id_status_3" name="status" type="radio" value="NE" /> New</label></li>
            </ul>
         </div>

         <hr>

         <div class="table-filter-item">
            <p class="filter-label">Tags:</p>
            <ul id="tag_filter_options">
            </ul>
         </div>

         <input type="submit" class="button filter" id="submit-search" value="Apply">
         </form>

   </div>

   <section>

      <table id="datatable" class="fullwidth">
      <thead>
         <tr>
         <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
         <th>Date</th>
         <th>Main targets</th>
         <th>Photo./Spectro.</th>
         <th>Nobs</th>
         <th>Exposure time [s]</th>
         <th>Tags</th>
         <th>Status</th>
         </tr>
      </thead>
      <tfoot>
         <tr>
         <th></th>
         <th>Date</th>
         <th>Main targets</th>
         <th>Photo./Spectro.</th>
         <th>Nobs</th>
         <th>Exposure time [s]</th>
         <th>Tags</th>
         <th>Status</th>
         </tr>
      </tfoot>
      </table>

   </section>

   <!-- Divs necessary for editing on page stuff with ajax -->
   <div id="editStatus" class="ui-dialog">
      <div id='status-error' class='error-message'></div>
      <ul id="statusOptions">
         <li><input type="radio" name="new-status" value="PR"> Partly reduced </li>
         <li><input type="radio" name="new-status" value="FR"> Fully reduced </li>
         <li><input type="radio" name="new-status" value="ER"> Reduction error   </li>
         <li><input type="radio" name="new-status" value="NE"> New        </li>
      </ul>
   </div>

   <div id="editTags">
      <div id='tag-error' class='error-message'></div>
      <ul id="tagOptions">
      </ul>
   </div>

<!--
<div id="addRuns">
   <div id='single-add' class='run-form'>

   <fieldset>
   <legend>Add observation run</legend>
        <div class="ui-controlgroup-horizontal">

        <form action="{% url "obs_runs:run_list" %}" method="post" enctype="multipart/form-data" class="" id="run-upload-form">

        {% if user.is_authenticated %}
            {% csrf_token %}

        <fieldset>


        <legend>Tags</legend>
            <ul id="add-option-tags">
                {{ form_system.tags }}
            </ul>

        </fieldset>

        <fieldset>
        <legend>Name and values</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_system.main_id.id_for_label }}">Name (main id):*</label>
                    </td>
                    <td>
                        {{ form_system.main_id }}
                        <span class="error"> {{ form_system.main_id.errors.as_text }} </span>
                    </td>
                    <td class='bold'>
                        <label for="{{ form_system.is_public.id_for_label }}">Public?:</label>
                    </td>
                    <td class='left'>
                        {{ form_system.is_public }}
                        <span class="error"> {{ form_system.is_public.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        </div>

        <div class="system-form-submit">
            <input type="submit" class="upload-button" value="Add System"/>
        </div>

        {% else %}
            <p> Log in to upload files! </p>
        {% endif %}

        </form>

    </fieldset>
   </div>
   <div id='bulk-add' class='bulk-system-form'></div>
</div>-->

{% endblock %}
