{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}
{% include "datatables.html" %}
{% include "bokeh.html" %}
<script type="text/javascript" src="{% static 'js/obs_runs_detail.js' %}"></script>
{% endblock %}

{% block headertitle %}
    Observation run: {{ date_string }}
{% endblock %}

{% block content %}

    <i display="none" id="script_name" name={{ script_name }}></i>

<!-- <h2>Details on observation run: {{ run.name }}</h2> -->
<!--     <section> -->
    <section class='data-section' id="summary">

        <h3>Summary</h3>
        <div class="flex-data-container">

            <div class="tag-container">
                <h3>Basic Data </h3>
                <table class="datatable">
                    <tbody>
                    <tr>
                        <th>Spectroscopic observations:</th>
                        {% if run.spectroscopy %}
                            <td class="mono"><i class='material-icons status-icon smaller valid' title='Spectroscopy taken'></i></td>
                        {% else %}
                            <td class="mono"><i class='material-icons status-icon smaller invalid' title='No spectroscopy taken'></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Photometric observations:</th>
                        {% if run.photometry %}
                            <td class="mono"><i class='material-icons status-icon smaller valid' title='Photometry taken'></i></td>
                        {% else %}
                            <td class="mono"><i class='material-icons status-icon smaller invalid' title='No photometry taken'></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Reduction Status:</th>
                        <td class="mono">{{ reduction_status }}</td>
                    </tr>
                    <tr>
                        <th>Directory name:</th>
                        <td class="mono">{{ run.name }}</td>
                    </tr>
                    <tr>
                        <th>Open access:</th>
                        {% if run.is_public %}
                            <td class="mono"><i class='material-icons status-icon smaller valid' title='Data is in open access'></i></td>
                        {% else %}
                            <td class="mono"><i class='material-icons status-icon smaller invalid' title='Data is not in open access'></i></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tag-container">
                <h3>Observing conditions</h3>
                <div class='block'>
                    {{ figures.conditions_plots|safe }}
                </div>
            </div>

            <div class="tag-container">
                <h3>Notes</h3>
                <div id="noteField">{{ run.note|linebreaks }}</div>
            </div>

            <div class="tag-container">
                <h3>Tags</h3>
                {% if user.is_authenticated %}
                    <i id="tagEditButton" class="material-icons button edit" title="Edit"
                        run_id={{ run.pk }}>edit</i>
                {% endif %}

                <div class="flex-data-container" id="tag_list" run_id={{ run.pk }}>
                    <p>Loading...</p>
                </div>

            </div>

        </div>

<!--         <hr> -->
    </section>

    <section class='data-section' id="objects">
        {% if main_objects_detail|length > 0 %}
    <!--         <h3>Objects</h3> -->
            <h3>Main targets</h3>
    <!--        <div class="flex-data-container">
                <div class="tag-container">
                    <div class="flex-data-container" id="identifier_list">
                        {% for name, href in main_objects %}
                            <div class="identifier" id="identifier-{{ name }}">
                                <a href={{ href }}  target="_blank"> {{ name }} </a>

                            </div>
                        {% empty %}
                            <p> None known</p>
                        {% endfor %}
                    </div>
                </div>
            </div>-->
    <!--
            <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js"
            charset="utf-8"></script>-->

    <!--         fov_script, -->
            {% for pk, name, ra, dec, instruments, telescopes, total_exposure_time, min_airmass, max_airmass, vis_script, vis_figure, fov_figure, href in main_objects_detail %}
                <div class="flex-data-container">
                    <div class="tag-container">
                            <h3><a href={{ href}}>{{ name }}</a></h3>
                        <div class="flex-data-container">
                            <div class="tag-container">
                                <h3>Basic data</h3>
                                <table class="datatable">
                                    <tbody>
                                    <tr>
                                        <th>Right ascension:</th>
                                        <td class="mono">{{ ra|dgr2hms }}</td>
                                    </tr>
                                    <tr>
                                        <th>Declination:</th>
                                        <td class="mono">{{ dec|dgr2dms }}</td>
                                    </tr>
                                    <tr>
                                        <th>Telescope:</th>
                                        <td class="mono">{{ telescopes }}</td>
                                    </tr>
                                    <tr>
                                        <th>Instrument:</th>
                                        <td class="mono">{{ instruments }}</td>
                                    </tr>
                                    <tr>
                                        <th>Exposure time:</th>
                                        <td class="mono">{{ total_exposure_time }}s</td>
                                    </tr>
                                    <tr>
                                        <th>Airmass:</th>
                                        <td class="mono">{{ min_airmass }} - {{ max_airmass }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tag-container">
                                <h3>Visibility</h3>
                                <div class='block'>
                                    {{ vis_figure.visibility|safe }}
                                </div>
                            </div>
                            {{ vis_script|safe }}

    <!--                        <div class="tag-container">
                                <h3>Field of view</h3>
                                <div class='block'>
                                    {{ fov_figure.fov|safe }}
                                </div>
                            </div>
                            {{ fov_script|safe }}-->

                            <div class="tag-container">
                                <h3>Field of view</h3>
                                <div class='block'>
                                    <img src='data:image/png;base64,{{ fov_figure }}'>
                                </div>
                            </div>

    <!--
                            <div class="tag-container" style="max-width:250px; height:255px;">
                                <div id="aladin-lite-div" style="width:250px;height:250px;"></div>
                                <script type="text/javascript">
                                    let aladin = A.aladin('#aladin-lite-div', {
                                        survey: "P/DSS2/color",
                                        fov: 1.01 / 60,
                                        target: "{{ra}} {{dec}}",
                                        showZoomControl: false,
                                        showLayersControl: false,
                                        showGotoControl: false,
                                        showFrame: false
                                    });
                                    aladin.addCatalog(A.catalogFromVizieR('I/345', '{{ra}} {{dec}}', 1.01 / 60, {onClick: 'showTable'}));
                                </script>
                            </div>-->
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if auxillary_objects|length > 0 %}
            <h3>Auxiliary targets</h3>
            <div class="flex-data-container">
                <div class="tag-container">
                    <div class="flex-data-container" id="identifier_list">
                        {% for name, href in auxillary_objects %}
                            <div class="identifier" id="identifier-{{ name }}">
                            <a href={{ href }}  target="_blank"> {{ name }} </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <hr>

    </section>

    <section class='data-section'>
        <h3>Data files</h3>
        <div class="table_wrapp">
            <table id="datafiletable">
            <thead>
            <tr>
                <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
                <th>File name</th>
                <th>Observation date</th>
                <th>Coordinates</th>
                <th>File type</th>
                <th>Image size</th>
                <th>Exposure type</th>
                <th>Exposure time [s]</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>File name</th>
                <th>Observation date</th>
                <th>Coordinates</th>
                <th>File type</th>
                <th>Image size</th>
                <th>Exposure type</th>
                <th>Exposure time [s]</th>
                <th>Tags</th>
            </tr>
            </tfoot>
            </table>
        </div>

    </section>

    {{ script|safe }}

    <!-- Divs necessary for editing on page stuff with ajax -->
    <div id="tagAdd" title="Add a tag">
        <ul id="tagOptionsRun">
            {% for tag in tags %}
                <li><label><input id="tag_pk_{{ tag.pk }}" name="tags" type="checkbox"
                                    value="{{ tag.pk }}"/> {{ tag.name }}</label></li>
            {% endfor %}
        </ul>
    </div>
    <div id="editTags">
        <div id='tag-error' class='error-message'></div>
        <ul id="tagOptions">
        </ul>
    </div>

{% endblock %}
