{% extends "base.html" %}
{% load static %}

{% block head %}
{% include "datatables.html" %}
<script type="text/javascript" src="{% static 'js/objects_detail.js' %}"></script>
{% endblock %}

{% block headertitle %}
    Object: {{ object.name }}
{% endblock %}

{% block content %}

    <i display="none" id="script_name" name={{ script_name }}></i>

<!-- <h2>Details on observation run: {{ run.name }}</h2> -->
<!--     <section> -->
    <section class='data-section' id="summary">

        <h3>Summary</h3>
        <div class="flex-data-container">

            <div class="tag-container">
                <h3>Tags</h3>
                {% if user.is_authenticated %}
                    <i id="tagEditButton" class="material-icons button edit" title="Edit"
                        obj_id={{ object.pk }}>edit</i>
                {% endif %}

                <div class="flex-data-container" id="tag_list" obj_id={{ object.pk }}>
                    <p>Loading...</p>
                </div>

            </div>

        </div>

        <hr>

    </section>

    <section class='data-section'>
    <h3>Observation runs</h3>
<!--     <section> -->
        <div class="table_wrapp">
            <table id="runtable">
            <thead>
                <tr>
                <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
                <th>Date</th>
                <th>Nobs</th>
                <th>Exposure time [s]</th>
                <th>Tags</th>
                <th>Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th></th>
                <th>Date</th>
                <th>Nobs</th>
                <th>Exposure time [s]</th>
                <th>Tags</th>
                <th>Status</th>
                </tr>
            </tfoot>
            </table>
        </div>

    </section>

    <!-- Divs necessary for editing on page stuff with ajax -->
    <div id="tagAdd" title="Add a tag">
        <ul id="tagOptionsRun">
            {% for tag in tags %}
                <li><label><input id="tag_pk_{{ tag.pk }}" name="tags" type="checkbox"
                                    value="{{ tag.pk }}"/> {{ tag.name }}</label></li>
            {% endfor %}
        </ul>
    </div>
    <div id="editTags">
        <div id='tag-error' class='error-message'></div>
        <ul id="tagOptions">
        </ul>
    </div>

{% endblock %}
