{% extends "base.html" %}
{% load static %}

{% block head %}
{% include "datatables.html" %}

{% endblock %}

{% block headertitle %} Observation nights: Index {% endblock %}


{% block content %}

<!-- <i display="none" id="project-pk" project={{project.pk}}></i> -->

<i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

<div id="filter-dashboard">

<!--    <form method="get" action="/stars/" class="table-filter" id="filter-form"> -->
   <form method="get" action="/" class="table-filter" id="filter-form">
   <h3 class="center"> Filter Systems </h3>

   <div class="table-filter-item">
      <p class="filter-label" title="Uses simbad name solver">Name:</p>
      <input class="filter-input" id="filter_name" type="text" placeholder="identifier">
   </div>

<!--   <div class="table-filter-item">
      <p class="filter-label" title="00:00:00 +00:00:00 or 000.000 +00.000">Co:</p>
      <input class="filter-input" id="filter_co" type="text" placeholder="coodinate search">
   </div>-->

   <hr>

<!--   <div class="table-filter-item">
      <p class="filter-label">Ra:</p>
      <input class="filter-input" id="filter_ra" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Dec:</p>
      <input class="filter-input" id="filter_dec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">G-mag:</p>
      <input class="filter-input" id="filter_mag" type="text" placeholder="min:max">
   </div>

   <hr>-->

<!--   <div class="table-filter-item">
      <p class="filter-label">#phot:</p>
      <input class="filter-input" id="filter_nphot" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#spec:</p>
      <input class="filter-input" id="filter_nspec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#lc:</p>
      <input class="filter-input" id="filter_nlc" type="text" placeholder="min:max">
   </div>

   <hr>-->

<!--   <div class="table-filter-item">
      <p class="filter-label">Class:</p>
      <input class="filter-input" id="filter_class" type="text" placeholder="class">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Type: </p>
      <ul id="classification_options">
         <li><label for="id_classtype_0"><input id="id_classtype_0" name="status" type="checkbox" value="PH" /> Photometric</label></li>
         <li><label for="id_classtype_1"><input id="id_classtype_1" name="status" type="checkbox" value="SP" /> Spectroscopic</label></li>
      </ul>
   </div>

   <hr>-->

   <div class="table-filter-item">
      <p class="filter-label">Status: </p>
      <ul id="status_options">
         <li><label for="id_status_0"><input id="id_status_0" name="status" type="radio" value="PR" /> Partly reduced</label></li>
         <li><label for="id_status_1"><input id="id_status_1" name="status" type="radio" value="FR" /> Fully reduced</label></li>
         <li><label for="id_status_2"><input id="id_status_2" name="status" type="radio" value="ER" /> Reduction error</label></li>
         <li><label for="id_status_3"><input id="id_status_3" name="status" type="radio" value="NE" /> New</label></li>
      </ul>
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Tags:</p>
      <ul id="tag_filter_options">
      </ul>
   </div>

   <input type="submit" class="button filter" id="submit-search" value="Apply">
   </form>

</div>

<section>

<table id="datatable" class="fullwidth">
<thead>
   <tr>
   <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
   <th>Name</th>
<!--    <th>Datasets</th> -->
   <th>Tags</th>
   <th>Status</th>
   </tr>
</thead>
<tfoot>
   <tr>
   <th></th>
   <th>Name</th>
<!--    <th>Datasets</th> -->
   <th>Tags</th>
   <th>Status</th>
   </tr>
</tfoot>
</table>

</section>

<div id="editStatus" class="ui-dialog">
   <div id='status-error' class='error-message'></div>
   <ul id="statusOptions">
      <li><input type="radio" name="new-status" value="PR"> Partly reduced </li>
      <li><input type="radio" name="new-status" value="FR"> Fully reduced </li>
      <li><input type="radio" name="new-status" value="ER"> Reduction error   </li>
      <li><input type="radio" name="new-status" value="NE"> New        </li>
   </ul>
</div>

<div id="editTags">
   <div id='tag-error' class='error-message'></div>
   <ul id="tagOptions">
   </ul>
</div>

<div id="addNights">
   <div id='single-add' class='night-form'>

   <fieldset>
   <legend>Add Night</legend>
        <div class="ui-controlgroup-horizontal">

        <form action="{% url "nights:night_list" %}" method="post" enctype="multipart/form-data" class="" id="night-upload-form">

        {% if user.is_authenticated %}
            {% csrf_token %}

        <fieldset>


        <legend>Tags</legend>
            <ul id="add-option-tags">
                {{ form_system.tags }}
            </ul>

        </fieldset>

        <fieldset>
        <legend>Name and values</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_system.main_id.id_for_label }}">Name (main id):*</label>
                    </td>
                    <td>
                        {{ form_system.main_id }}
                        <span class="error"> {{ form_system.main_id.errors.as_text }} </span>
                    </td>
                    <td class='bold'>
                        <label for="{{ form_system.is_public.id_for_label }}">Public?:</label>
                    </td>
                    <td class='left'>
                        {{ form_system.is_public }}
                        <span class="error"> {{ form_system.is_public.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        </div>

        <div class="system-form-submit">
            <input type="submit" class="upload-button" value="Add System"/>
        </div>

        {% else %}
            <p> Log in to upload files! </p>
        {% endif %}

        </form>

    </fieldset>
   </div>
   <div id='bulk-add' class='bulk-system-form'></div>
</div>

<script type="text/javascript" src="{% static 'js/nights_list.js' %}"></script>

{% endblock %}
